<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Tab 1
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-grid>
        <ion-row>
            <ion-col size="8">
                <ion-item *ngIf="isContentLoaded">
                    <ion-label position="floating">Nueva Tarea</ion-label>
                    <ion-input type="text" [(ngModel)]="task" [autofocus]="true" #intask (keyup.enter)="newTask()"></ion-input>
                </ion-item>
            </ion-col>
            <ion-col size="4">
                <ion-button (click)="newTask()" expand="block" [disabled]="validateTask()">
                    <ion-icon slot="start" name="add"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <ion-list #lisliding>
                    <ion-item-sliding *ngFor="let item of tasks; let i=index">
                        <ion-item>
                            {{item}}
                        </ion-item>
                        <ion-item-options side="end" (ionSwipe)="presentAlert(i)">
                            <ion-item-option color="warning" expandable>
                                <ion-icon name="trash"></ion-icon>
                            </ion-item-option>
                        </ion-item-options>
                    </ion-item-sliding>
                </ion-list>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>